version: '3.1'
services:
  testerabbitmq:
    image: testerabbitmq:latest
    container_name: testerabbitmq
    ports:
      - 8080:8080

networks:
  default:
    driver: bridge
    name : backend


#networks:
#  default:
#    external:
#      name: external-example

#docker-compose -f docker-compose-rabbit.yaml up -d
